.container {
    padding-bottom: 48px;
    margin-top: 50px;
}

.sign {
    padding-left: 100px;
    padding-top: 20px;
    color: white;
}

button {
    font-size: 15px;
}

.input-group {
    border: 1px solid gray;
}

.form-group input{
    border-color: black;
    border-radius: 5px;
}