.container-fluid {
    margin-top: 100px;
    padding-bottom: 57px;
}

.card {
    height: auto;
}

.sign {
    padding-top: 20px;
    color: white;
    cursor: pointer;
}

button {
    font-size: 15px;
}

.input-group {
    border: 1px solid gray;
    margin-top: 15px;
}

.form-group input{
    border-color: black;
    border-radius: 5px;
}