.container {
    margin-top: 5px;
    padding-bottom: 74px;
}

.input-group {
    border: 1px solid gray;
    margin-top: 20px;
}

.form-group {
    border-color: black;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.btn {
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    color: gray;
}

.form-control {
    border: 1px solid gray;
    border-radius: 5px;
    width: 320px;
}

.buttons {
    margin: 10px 10px 10px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 300px;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";

  select,
  &::after {
    grid-area: select;
  }


  border: 1px solid gray ;
  border-radius: 0.25rem;
  padding: 0.65rem 0.5rem;

  font-size: 1rem;
  cursor: pointer;

  // Optional styles
  // remove for transparency
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}