.text-center {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.card {
    height: 580px;
}

.input-group {
    height: 50px;
    border: 1px solid gray;
}

input[type=chechbox] {
    border: 1px solid blue;
}
